$white         : #fff;
$black         : #000;
$title         : #ba4745;
$s-title       : #517295;
$nav           : #b68963;
$hover-nav     : #1c1c1c35;
$social        : rgba(101,88,88,.6);
$hover-social  : #655858e6;
$input         : rgba(101, 88, 88, .6);

$paragrah      : #212121e9;
$bg-header     : #f7f7f7;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$font-family: 'Playfair Display', serif;